
<div class="hero-unit menu-pane" style="border-left: 5px solid green">
<small>your friend liked read this</small>
<small>your friend liked read this</small>
<small>your friend liked read this</small>
<small>your friend liked read this</small>
</div>  
